/* Afin de valider ton code CSS, clic sur la petite flèche en haut à droite de cette fenêtre. Pour rappel, tu peux jeter un oeil par ici pour en savoir un peu plus: https://blog.codepen.io/2017/10/11/analyze-css-now-using-stylelint/ */

/* Définition polices */

body{
  font-family: 'Indie Flower', cursive;
  background-image: url(https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: auto;
}

#back-opacity{
  background-color: rgba(255, 255, 255, 0.2)
}

.amatic1, .amatic2, .amatic3{
  font-family: 'Amatic SC', cursive;
}


/* définition taille des polices selon niveau */

.amatic1{
  font-size: 5em;
}

.amatic2{
  font-size: 4em;
  color: #eb1736;
  filter: drop-shadow(0 0 0.3rem );
  text-decoration: underline;
  padding: 40px;
}

.amatic3{
  font-size: 2em;
}

.indie1{
  font-size: 2em;
}

/* style de body */ 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fxcontainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  color:   color #272425;
  font-size: 1.5em;
}

/* style du header */

header{
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #272425;
  background-color: slategray;
}

#title{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eb1736;
  width: 100%;
  padding-bottom: 1rem;
}

.lion{
  width:10rem;
  padding-top: 10px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

nav ul li a{
  text-decoration: none;
  color: #272425;
}

nav ul li a:hover{
  color: white;
}

.imghead{
  padding: 3rem;
  max-width: 60%;
  filter: drop-shadow(0 0 1rem );
  border-radius: 60px;
}

.joinus{
  padding: 0 2rem 3rem;
}

/* mise en flex des éléments du conteneur performances */

.container{
  max-width: 90%;
  margin: auto;
}


.perfcontainer{
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.perfcontainer li{
  list-style: none;
}

/* mise en en ligne et centrage des éléments de la liste */

.item{
  padding: 2rem;
  align-items: center;
  flex:1;
}

h3{
  text-align: center;
  color:#272425;
  padding-bottom: 2rem;
}

.item img{
  width: 100%;
  filter: drop-shadow(0 0 0.3em );
  border-radius: 10px;
}

.item p{
  padding-top: 40px;
}


/* style de la partie about */


#about{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  max-width: 90%;
}

iframe{
  filter: drop-shadow(0 0 0.3em );
  border-radius: 10px;
  margin-bottom: 3rem;
}


#about p{
  padding: 0.5em ;
}

.about-text{
  padding: 3rem 0;
}

/* centrage du tableau des prix */

.pricechart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricechart img{
  margin: auto;
  margin-bottom: 3rem;
  max-width: 40rem;
  filter: drop-shadow(0 0 0.3em );
  border-radius: 10px;
}


table{
  border-collapse: collapse;
  table-layout: fixed;
  margin: 4rem;
}

td{
  background-color:#fcf8ff;
  text-align: center;
  color: black;
  border: 10px ridge slategray;
  font-size: 1.5em;
  overflow: hidden;
  width: 15rem;
}

.tdnone {
  background-color:transparent;
  border: none;
}


/* style du formulaire de contact */

.contact{
  display: flex;
  flex-direction: column;
}

.contact img{
  margin: auto;
  margin-bottom: 5rem;
  max-width: 40rem;
  filter: drop-shadow(0 0 0.3em );
  border-radius: 10px;
}

form { 
  max-width: 30rem; 
  margin: auto;
  font-size: 1.5em;
}

.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  border-radius: 5px;
  line-height: 1.5rem;
  background-color:#fcf8ff;
  border:3px solid #272425;
  transition: all 0.3s;
  padding: 1rem;
  margin-bottom: 1rem;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#eb1736;
  border-radius:5px;
  border:0;
  cursor:pointer;
  padding-top:1rem;
  padding-bottom:1rem;
  transition: all 0.3s;
  margin-top:1rem;
  margin-bottom:8rem;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  color: #272425;
}

[type="submit"]:hover {
  background:#CC4949; 
}


/* style du footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#708090;
  padding: 1rem;
}

footer a{
  font-size: 1.5rem;
  color: black;
  text-decoration:;
}

footer a:hover{
  color:#eb1736; 
}

footer img{
  width: 12rem;
}